body {
    background-color: #0496ff;
    margin: 0;
}

div {
    margin-top: 20px;
    font-size: 18px;
}

#rockBtn,
#paperBtn,
#scissorsBtn,
#restartBtn {
    height: 160px;
    width: 160px;
    border-radius: 10px;
    background-color: #8f2d56;
    font-size: 84px;
    text-align: center;
    transition: background-color .3s;
}

.restart {
    display: flex;
    justify-content: center;
}

#restartBtn {
    height: 80px;
    width: 240px;
    font-size: 32px;
    font-family: 'Press Start 2P', cursive;
    color: #ffbc42;
}

#rockBtn:hover,
#scissorsBtn:hover,
#paperBtn:hover,
#restartBtn:hover {
    cursor: pointer;
    background-color: #d81159;
}

.buttons {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.winnerScreen {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 32px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    background-color: #006ba6;
    height: 150px;
    font-size: 28px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

header,
h2,
div {
    font-family: 'Press Start 2P', cursive;
    color: #ffbc42;
    padding: 0.5rem;
}

h2 {
    font-size: 24px;
}